:root {
  --clr-primary: #d3a15f;
  --clr-secondary: #1e3948;
  --clr-accent: #ffdfb5;
  --clr-neutral-100: #fff;
  --clr-neutral-900: #333;

  --ff-sans: Oswald;
  --ff-serif: Antic Slab;

  --fw-reg: 400;
  --fw-bold: 700;

  --fs-small: 0.75rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 1.875rem;
  --fs-xl: 2.5rem;

  --box-shadow: 8px 8px 0 0 var(--clr-secondary);
  --br: 1rem;
}

/* oswald-regular - latin */
@font-face {
  font-family: 'var(--ff-sans)';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./fonts/oswald-v47-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/oswald-v47-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-700 - latin */
@font-face {
  font-family: 'var(--ff-sans)';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./fonts/oswald-v47-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/oswald-v47-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* antic-slab-regular - latin */
@font-face {
  font-family: 'var(--ff-serif)';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./fonts/antic-slab-v15-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/antic-slab-v15-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
  RESET
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

input,
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

/*
  UTILITIES
*/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-12-col {
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 40px;
}

.grid-span-4 {
  grid-column: col-start 5 /span 4;
}

.grid-span-3 {
  grid-column: col-start 5 / span 3;
}

.container {
  max-width: 60rem;
}

/*
  TYPOGRAPHY
*/

.card-title {
  font-size: var(--fs-700);
}

/*
  GENERAL STYLES
*/

body {
  font-family: 'var(--ff-serif)';
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 1rem 0;
}

.btn {
  font-family: 'var(--ff-sans)';
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  display: inline-block;
  border: 1px solid var(--clr-secondary)
}

.card {
  max-width: 100%;
  background-color: var(--clr-neutral-100);
  padding: 1rem 1.5rem;
  border-radius: var(--br);
  height: 12.5rem;
  box-shadow: var(--box-shadow);
}

.card-title {
  margin-bottom: 1rem;
}

.card-title,
.task-form {
  flex: 1;
}

.task-form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.task-input {
  padding: .375rem .75rem;
  border: 1px solid var(--clr-secondary);
  font-family: 'var(--ff-sans)';
  font-size: var(--fs-400);
  color: var(--clr-secondary);
  grid-column: col-start / span 9;
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
}

.task-input[placeholder] {
  opacity: 0.5;
}

.submit-btn {
  background-color: var(--clr-primary);
  padding: .4375rem 1.5rem;
  grid-column: col-start 10 / span 3;
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

@media (min-width: 1000px) {
  .card {
    width: 60rem;
  }

  .card-title {
    font-size: var(--fs-xl);
  }
}

@media (max-width: 1000px) {

  .task-form {
    width: 90%;
  }

  .task-input,
  .submit-btn {
    font-size: var(--fs-small);
  }

  .submit-btn {
    padding: .4375rem .5rem;
  }
}