:root {
  --clr-primary: #d3a15f;
  --clr-secondary: #1e3948;
  --clr-accent: #ffdfb5;
  --clr-neutral-100: #fff;
  --clr-neutral-900: #333;

  --ff-sans: Oswald;
  --ff-serif: Antic Slab;

  --fw-reg: 400;
  --fw-bold: 700;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 1.875rem;
  --fs-xl: 2.5rem;

  --box-shadow: 8 8 0 0 var(var(--clr-secondary));
}

/* oswald-regular - latin */
@font-face {
  font-family: 'var(--ff-sans)';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./fonts/oswald-v47-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/oswald-v47-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-700 - latin */
@font-face {
  font-family: 'var(--ff-sans)';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./fonts/oswald-v47-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/oswald-v47-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* antic-slab-regular - latin */
@font-face {
  font-family: 'var(--ff-serif)';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./fonts/antic-slab-v15-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/antic-slab-v15-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
  RESET
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*
  UTILITIES
*/

.grid {
  display: grid;
}

.grid-12-col {
  grid-template-columns: repeat(12, [col-start] 1fr);
}

/*
  GENERAL STYLES
*/

body {
  font-family: 'var(--ff-serif)';
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
}